<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BaseAddress" value="http://localhost:26776/"/>
    <add key="TempFolder" value="D:\STUDY\NOVAHUB\BookLibrary\BookLibrary\bin\Debug\TempFolder"/>
    <add key="ServerImageFolder" value="D:\STUDY\NOVAHUB\BookLibrary\BookLibrary\bin\Debug\ServerImageFolder"/>
    <add key="Extensions" value=".jpg|.jpeg|.png"/>
    <add key ="FilterExtension" value="Image files (*.jpg, *.jpeg, *.png) | *.jpg; *.jpeg; *.png"/>
    <add key="PageSize" value="2"/>
  </appSettings>
</configuration>